{% extends 'base.html.twig.html' %}



{% block content %}

<h3>Nom : {{app.user.Nom}}</h3>
<h3>Patient: {{app.user.Prenom}}</h3>
<h3>N°patient: {{app.user.id}}</h3>
<h3>Adresse email: {{app.user.email}}</h3>

<h1>Mes recettes personalisées</h1>

  <hr class="featurette-divider">

        {% for regime in regimes %}


        <div class="row ">

            <div class="col-md-7">
                    <a href="{{path('app_recette_personnalise',{'id':regime.id})}}"><h2 class="featurette">{{regime.titre}}</h2></a>
                    <p class="lead">Desccription: {{regime.description|raw}}</p>
                  <!--  <p class="lead">Temps de préparation: {{regime.temps_de_preparation}} Minutes</p>
                    <p class="lead">Temps de cuisson: {{regime.temps_de_cuisson}} Minutes</p>
                    <p class="lead">Ingrédient: {{regime.ingedrients|raw}}</p>
                    <p class="lead">Etapes: <br/> {{regime.etapes|raw}}</p>
                    <p class="lead">Temps de repos: {{regime.temps_de_repos}} Minutes</p> -->
              
              
 
                      
                     
             
            </div>

            <div class="col-md-5">
                   <img class="img_recette" style="height:300px" src="/uploads/{{regime.illustration}}"/>
            </div>


        </div>

         <hr class="featurette-divider">


        {% endfor %}


       

<!--
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">
-->


{% endblock %}
