{% extends 'base.html.twig.html' %}



{% block carousel %}

{% endblock %}


{% block content %}


   <!-- Three columns of text below the carousel -->

   
        <div class="row">
            <div class="col-lg-4">
                 <img class="radius" style="border-radius:25% 10%;height:140px;" src="{{asset('assets/img/hd-wallpaper-1.jpg')}}" alt="">
                <h2>Salade de quinoa</h2>
                <p>Cette salade de quinoa aux légumes grillés est une option saine et équilibrée pour un repas léger. Elle est riche en fibres, en vitamines et en minéraux essentiels. Vous pouvez également ajouter des protéines supplémentaires en incluant du poulet grillé ou des pois chiches. Profitez de cette recette délicieuse tout en respectant votre régime alimentaire équilibré.</p>
               
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                  <img class="radius" style="border-radius:25% 10%;height:140px;" src="{{asset('assets/img/hd-wallpaper.jpg')}}" alt="">
                <h2>Poulet aux légumes</h2>
                <p>Ce délicieux poulet aux légumes sautés est une option saine et équilibrée pour un repas. Il est riche en protéines maigres, en fibres et en vitamines. Vous pouvez le servir tel quel ou l'accompagner de riz brun ou de quinoa pour une portion de glucides sains. Profitez de ce plat savoureux tout en prenant soin de votre alimentation équilibrée.</p>
               
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
               <img class="radius" style="border-radius:25% 10%;height:140px;" src="{{asset('assets/img/3.jpg')}}" alt="">
                <h2>Poisson en papillote </h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
             
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
       
     <div id="centre_titre"  style="text-align:center"> <h1>Recettes génériques</h1> <br/> </div>

    {% for recette in recettes  %}

        <div class="row featurette">               
            <div class="col-md-7">
                <h2 class="featurette"><a href="{{path('home_controller_detail_recettes', { 'id' : recette.id }) }}">{{recette.titre}}</a></h2>
                <p class="lead">Description: {{recette.description|raw}}</p>
            </div>
            <div class="col-md-5">
                 <img class="img_recette" style="height:300px" src="/uploads/{{recette.illustration}}"/>
            </div>
        </div>
    <hr class="featurette-divider">

   {% endfor %}    

        <!--
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>
        -->

   



        <!-- /END THE FEATURETTES -->

{% endblock %}
