

{% extends 'base.html.twig.html' %}


{% block content %}

          <!--  {{form(form)}} -->

         <p style="font-size:3em;color:green"> commentaire posté merci !</p>


<br/>

<h3>Section Commentaires</h3>

 {% for commentaire_lecture in commentaire_lectures %}

    <p>{{commentaire_lecture.nom}} {{commentaire_lecture.prenom}} | Numero patient: {{commentaire_lecture.id}} | Note recette: {{commentaire_lecture.note}} / 20 </p>
    <p>{{commentaire_lecture.commentaire}}</p>
   

{% endfor %}



<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>



{% endblock %}



