{% extends 'base.html.twig.html' %}



{% block content %}




<h3>Nom : {{app.user.Nom}}</h3>
<h3>Patient: {{app.user.Prenom}}</h3>
<h3>N°patient: {{app.user.id}}</h3>
<h3>Adresse email: {{app.user.email}}</h3>

<h1>Mes recettes personalisées</h1>

  <hr class="featurette-divider">

        {% for recette in recettes %}


        <div class="row featurette">

            <div class="col-md-7">

                    <h2 class="featurette">Titre: {{recette.titre}}</h2>
                    <p class="lead">Desccription: {{recette.description|raw}} </p>
                   <p class="lead">Temps de préparation: {{recette.temps_de_preparation}} Minutes</p>
                    <p class="lead">Temps de cuisson: {{recette.temps_de_cuisson}} Minutes</p>
                    <p class="lead">Ingrédient: {{recette.ingedrients|raw}} Minutes</p>
                    <p class="lead">Etapes: <br/> {{recette.etapes|raw}}</p>
                    <p class="lead">Temps de repos: {{recette.temps_de_repos}} Minutes</p> 
              
              
                     <p class="lead">Allergenes spécifiques <br/>  

                    {% if allergenes==null  %}
                    
                    <p class="lead" >Vous n'avez aucun allergenes</p>

                    {% else %}

                     {% for allergene in allergenes %}                     
                     {{allergene.nom}}                     
                     {% endfor %}


                    {% endif %}

                    

                   
                     
                     
                     </p>
            </div>

            <div class="col-md-5">                
                  <img class="img_recette" style="height:300px" src="../uploads/{{recette.illustration}}" alt="" class="img-fluid"/>
                 
            </div>


        </div>

         <hr class="featurette-divider">


                   
        {% endfor %}


          <!--  {{form(form)}} -->



          


<div id="update_com">
                        <div id="conteneur_poste" >

                                 <div class="contenu_poste">
                                 <p> Note <br/>
                                 <input type="number" style="width:50px;"  min="1" max="20" name="note"/>/20 </p>
                                 </div>

                                 <div class="contenu_poste ">
                                 <p> Commentaire<br/>
                                 <input type="textarea" style="width:700px; height:300px" class="taille_1" name="commentaire"/></p>
                                 </div>

                     

                                  <div class="contenu_poste"> <button class="envoie" >Poster</button></div>

                        </div>


                            <input type="hidden" name="id_recette" value="{{recettes_id}}"/>  

                            <input type="hidden" id="id_user" name="id_user" value="{{app.user.id}}" />                     
                           

                            <hr class="featurette-divider">   
            

                <h3>Section Commentaires</h3>
      
                {% for commentaire_lecture in commentaire_lectures %}

                    <p>{{commentaire_lecture.nom}} {{commentaire_lecture.prenom}} | Numero patient: {{commentaire_lecture.id}} | Note recette: {{commentaire_lecture.note}} / 20 </p>
                    <p>{{commentaire_lecture.commentaire}}</p>

                <!--  
                        <div class="row featurette">
                            <div class="col-md-9">
                                <h3 class="featurette-heading">{{commentaire_lecture.nom}} {{commentaire_lecture.prenom}} | Numero patient: {{commentaire_lecture.id}} | </h3>       
                            <h2 class="featurette-heading">Commentaire<br/>{{commentaire_lecture.commentaire}}</h2>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                            </div>

                        <div class="col-md-3">
                        <p>{{commentaire_lecture.note}}/20</p>
                        </div>
                    </div>   
                -->

                

                {% endfor %}

             


 </div>



<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="{{asset('assets/js/charge_commentaire.js')}}" async></script> 


{% endblock %}
